/* Variables */
$border: 1px solid #f5f5f5;
$border-radius: 3px;
$theme-main: #0083BB;
$theme-gray: #f5f5f5;

/* Reset */
ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.bform{
    padding: 15px;
    font-family: sans-serif;

    *{
        box-sizing: border-box;
    }
    .btn{
        height: 34px;
        padding: 5px 15px;
        appearance: none;
        border: none;
        border-radius: $border-radius;
        font-size: 16px;
        background-color: $theme-main;
        color: white;
    }
    &-header{
        margin-bottom: 25px;

        &__title{
            color: $theme-main;
            font-size: 2.618em;
            text-transform: uppercase;
            margin-bottom: 0;
        }
    }

    &-section__header{
        color: color($theme-main alpha(-10%));
        font-size: 1.618em;
        margin-top: 1em;
        margin-bottom: 0.382em;
        text-transform: capitalize;
    }
}
.bform-field{
    &__wrapper{
        margin-bottom: 1em;
    }
    &__label{
        font-size: 14px;
        font-weight: bold;
        display: block;
        padding: 5px 0;
    }
    &__input{
        border-radius: $border-radius;
        padding: 5px;
        box-shadow: none;
        appearance: none;
        border: $border;
        height: 34px;
        min-width: 250px;
        font-size: 14px;

        &.invalid{
            border-color: red;
            color: red;
        }
    }
    &__dek{
        font-size: 14px;
        margin-top: 0;
    }
}
.bform-select{
    appearance: none;
    border: $border;
    border-radius: border-radius;
    padding: 5px 33px 5px 5px;
    height: 34px;
    background: $theme-gray;
    font-size: 14px;

    &__wrapper{
        position: relative;
        display: inline-block;
        margin-right: 10px;

        &:after{
            content:' ';
            width: 0;
            height: 0;
            border-top: 5px solid rgba(0,0,0,0.3);
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
        }
    }
}
.bform-checkbox{
    margin-right: 5px;

    &__label{
        margin-right: 15px;
        font-size: 14px;
    }
}
.bform-subfield{
    &__item{
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
        
        &.full-width{
            display: block;
            margin-bottom: 10px;
            max-width: 750px;

            .bform-field__input{
                width: 100%;
            }
        }
        .bform-field__label{
            font-weight: normal;
            font-size: 14px;
            margin-bottom: 5px;
        }
        
    }
}
.bform-errorMsg{
    color: red;
    font-size: 14px;
    margin: 5px 0;
}

